<!DOCTYPE html>
<html>
<head>
  <title></title>
  <link href="{{ url_for('static',filename = 'dashboard/vendor/bootstrap-4.1/bootstrap.min.css')}}" rel="stylesheet" media="all">
</head>
<body>
  <!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
  Launch demo modal
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="modal-body">
          <div class="modal-body">
            <form>
              <div class="form-group">
                <label for="recipient-name" class="col-form-label">Recipient:</label>
                <input type="text" class="form-control" name="student_id">
              </div>
              <div class="form-group">
                <label for="message-text" class="col-form-label">Message:</label>
                <input type="text" class="form-control" name="student_name">
              </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button class="btn btn-primary" type="submit" formaction="/data_capture" formmethod="POST">Save changes</button>
      </div>
    </form>
    </div>
  </div>
</div>


<!-- Jquery JS-->
    <script src="{{ url_for('static',filename = 'dashboard/vendor/jquery-3.2.1.min.js')}}"></script>
    <!-- Bootstrap JS-->
    <script src="{{ url_for('static',filename = 'dashboard/vendor/bootstrap-4.1/popper.min.js')}}"></script>
    <script src="{{ url_for('static',filename = 'dashboard/vendor/bootstrap-4.1/bootstrap.min.js')}}"></script>
</body>
</html>