<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Title Page-->
    <title>FAR - Face recognition Attendence Register</title>

    <!-- Fontfaces CSS-->
    <link href="{{ url_for('static',filename = 'dashboard/css/font-face.css')}}" rel="stylesheet" media="all">
    <link href="{{ url_for('static',filename = 'dashboard/vendor/font-awesome-4.7/css/font-awesome.min.css')}}" rel="stylesheet" media="all">
    <link href="{{ url_for('static',filename = 'dashboard/vendor/font-awesome-5/css/fontawesome-all.min.css')}}" rel="stylesheet" media="all">
    <link href="{{ url_for('static',filename = 'dashboard/vendor/mdi-font/css/material-design-iconic-font.min.css')}}" rel="stylesheet" media="all">

    <!-- Bootstrap CSS-->
    <link href="{{ url_for('static',filename = 'dashboard/vendor/bootstrap-4.1/bootstrap.min.css')}}" rel="stylesheet" media="all">

    <!-- Vendor CSS-->
    <link href="{{ url_for('static',filename = 'dashboard/vendor/animsition/animsition.min.css')}}" rel="stylesheet" media="all">
    <link href="{{ url_for('static',filename = 'dashboard/vendor/bootstrap-progressbar/bootstrap-progressbar-3.3.4.min.css')}}" rel="stylesheet" media="all">
    <link href="{{ url_for('static',filename = 'dashboard/vendor/wow/animate.css')}}" rel="stylesheet" media="all">
    <link href="{{ url_for('static',filename = 'dashboard/vendor/css-hamburgers/hamburgers.min.css')}}" rel="stylesheet" media="all">
    <link href="{{ url_for('static',filename = 'dashboard/vendor/slick/slick.css')}}" rel="stylesheet" media="all">
    <link href="{{ url_for('static',filename = 'dashboard/vendor/select2/select2.min.css')}}" rel="stylesheet" media="all">
    <link href="{{ url_for('static',filename = 'dashboard/vendor/perfect-scrollbar/perfect-scrollbar.css')}}" rel="stylesheet" media="all">

    <!-- Main CSS-->
    <link href="{{ url_for('static',filename = 'dashboard/css/theme.css')}}" rel="stylesheet" media="all">

</head>

<body class="animsition">
    <div class="page-wrapper">
        <!-- HEADER DESKTOP-->
        <header class="header-desktop3 d-none d-lg-block">
            <div class="section__content section__content--p35">
                <div class="header3-wrap">
                    <div class="header_far-txt">
                        <h1>FAR</h1>
                    </div>
                    <div class="header__tool">
                        <div class="header-button-item has-noti js-item-menu">
                            <i class="zmdi zmdi-notifications"></i>
                            <div class="notifi-dropdown notifi-dropdown--no-bor js-dropdown">
                                <div class="notifi__title">
                                    <p>You have 3 Notifications</p>
                                </div>
                                <div class="notifi__item">
                                    <div class="bg-c1 img-cir img-40">
                                        <i class="zmdi zmdi-email-open"></i>
                                    </div>
                                    <div class="content">
                                        <p>You got a email notification</p>
                                        <span class="date">March 12, 2020 06:50</span>
                                    </div>
                                </div>
                                <div class="notifi__item">
                                    <div class="bg-c2 img-cir img-40">
                                        <i class="zmdi zmdi-account-box"></i>
                                    </div>
                                    <div class="content">
                                        <p>Your account has been blocked</p>
                                        <span class="date">March 12, 2020 06:50</span>
                                    </div>
                                </div>
                                <div class="notifi__item">
                                    <div class="bg-c3 img-cir img-40">
                                        <i class="zmdi zmdi-file-text"></i>
                                    </div>
                                    <div class="content">
                                        <p>You got a new file</p>
                                        <span class="date">March 12, 2020 06:50</span>
                                    </div>
                                </div>
                                <div class="notifi__footer">
                                    <a href="#">All notifications</a>
                                </div>
                            </div>
                        </div>
                        <div class="header-button-item js-item-menu">
                            <i class="zmdi zmdi-settings"></i>
                            <div class="setting-dropdown js-dropdown">
                                <div class="account-dropdown__body">
                                    <div class="account-dropdown__item">
                                        <a href="#">
                                            <i class="zmdi zmdi-account"></i>Account</a>
                                    </div>
                                    <div class="account-dropdown__item">
                                        <a href="#">
                                            <i class="zmdi zmdi-settings"></i>Setting</a>
                                    </div>

                                </div>

                                <div class="account-dropdown__body">
                                   
                                    <div class="account-dropdown__item">
                                        <a href="#">
                                            <i class="zmdi zmdi-email"></i>Email</a>
                                    </div>
                                    <div class="account-dropdown__item">
                                        <a href="#">
                                            <i class="zmdi zmdi-notifications"></i>Notifications</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="account-wrap">
                            <div class="account-item account-item--style2 clearfix js-item-menu">
                                <div class="image">
                                    <img src="{{ url_for('static',filename = 'dashboard/images/user-solid.svg')}}" alt="Admin" />
                                </div>
                                <div class="content">
                                    <a class="js-acc-btn" href="#">Faculty</a>
                                </div>
                                <div class="account-dropdown js-dropdown">
                                    <div class="info clearfix">
                                        <div class="image">
                                            <img src="{{ url_for('static',filename = 'dashboard/images/user-solid.svg')}}" alt="Admin" />
                                        </div>
                                        <div class="content">
                                            <h5 class="name">
                                                <a href="#">Faculty</a>
                                            </h5>
                                            <span class="email">Faculty@example.com</span>
                                        </div>
                                    </div>
                                    <div class="account-dropdown__body">
                                        <div class="account-dropdown__item">
                                            <a href="#">
                                                <i class="zmdi zmdi-account"></i>Account</a>
                                        </div>
                                        <div class="account-dropdown__item">
                                            <a href="#">
                                                <i class="zmdi zmdi-settings"></i>Setting</a>
                                        </div>
                                    </div>
                                    <div class="account-dropdown__footer">
                                        <a href="/">
                                            <i class="zmdi zmdi-power"></i>Logout</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- END HEADER DESKTOP-->

        <!-- PAGE CONTENT-->
        <div class="page-content--bgf7">

            <!-- WELCOME-->
            <section class="welcome p-t-10">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            {% with messages  = get_flashed_messages() %}
                            {% if messages %}
                            {% for message in messages %}

                            <div class="alert alert-success alert-dismissable" role="alert">
                              <button type="button" class="close" data-dismiss="alert" aria-label="close">
                                <span aria-hidden="true">X</span>
                              </button> 
                            {{message}}
                            </div>
                            {% endfor %}
                            {% endif %}
                            {% endwith %}
                            </div>
                            <h1 class="title-4">Welcome back
                                <span>Faculty !</span>
                            </h1>
                            <hr class="line-seprate">
                        </div>
                    </div>
                </div>
            </section>
            <!-- END WELCOME-->

            <!-- STATISTIC CHART-->
            <section class="statistic-chart">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <h3 class="title-5 m-b-35">statistics</h3>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 col-lg-4">
                            <!-- CHART-->
                            <div class="statistic-chart-1">
                                <h3 class="title-3 m-b-30">chart</h3>
                                <div class="chart-wrap">
                                    <canvas id="widgetChart5"></canvas>
                                </div>
                                <div class="statistic-chart-1-note">
                                    <span class="big">40</span>
                                    <span>/ 44 students present</span>
                                </div>
                            </div>
                            <!-- END CHART-->
                        </div>
                        <div class="col-md-6 col-lg-4">
                            <!-- TOP CAMPAIGN-->
                            <div class="top-campaign">
                                <h3 class="title-3 m-b-30">Students</h3>
                                <div class="overflow-auto">
                                <div class="table-responsive">
                                    <table class="table table-top-campaign">
                                        <tbody>
                                            {% for row in data_stud %}
                                            <tr>
                                                <td>{{row.student_id}}</td>
                                            <td>
                                            {{row.student_name}}</td>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                                </div>
                            </div>
                            <!-- END TOP CAMPAIGN-->
                        </div>
                        <div class="col-md-6 col-lg-4">
                            <!-- CHART PERCENT-->
                            <div class="chart-percent-2">
                                <h3 class="title-3 m-b-30">Attendence Percentage</h3>
                                <div class="chart-wrap">
                                    <canvas id="percent-chart2"></canvas>
                                    <div id="chartjs-tooltip">
                                        <table></table>
                                    </div>
                                </div>
                                <div class="chart-info">
                                    <div class="chart-note">
                                        <span class="dot dot--blue"></span>
                                        <span>Present</span>
                                    </div>
                                    <div class="chart-note">
                                        <span class="dot dot--red"></span>
                                        <span>Absent</span>
                                    </div>
                                </div>
                            </div>
                            <!-- END CHART PERCENT-->
                        </div>
                    </div>
                </div>
            </section>
            <!-- END STATISTIC CHART-->

            <!-- DATA TABLE-->
            <section class="p-t-20">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <h3 class="title-5 m-b-35">data table</h3>
                            <div class="table-data__tool">
                                <div class="table-data__tool-left">
                                    <div class="rs-select2--light rs-select2--md">
                                        <select class="js-select2" name="property">
                                            <option selected="selected">All Properties</option>
                                            <option value="">Option 1</option>
                                            <option value="">Option 2</option>
                                        </select>
                                        <div class="dropDownSelect2"></div>
                                    </div>
                                    <div class="rs-select2--light rs-select2--md">
                                        <form action="/faculty_dashboard" method="POST">
                                        <select class="js-select2" name="date">
                                            <option selected="selected" value="Date">Date</option> 
                                            {% for row in date_tab %}
                                            <option value={{row.att_date}}> {{row.att_date}} </option> 
                                            {% endfor%}
                                        </select>
                                        <div class="dropDownSelect2"></div>
                                    </div>

                                    <div class="rs-select2--light rs-select2--md">
                                        <select class="js-select2" name="period">
                                            <option selected="selected" value="period">Periods Present</option> 
                                            <option value=1>1</option>
                                            <option value=2>2</option>
                                            <option value=3>3</option>
                                            <option value=4>4</option>
                                            <option value=5>5</option>
                                            <option value=6>6</option> 
                                        </select>
                                        <div class="dropDownSelect2"></div>
                                    </div>

                                    <button class="au-btn-filter">
                                        <i class="zmdi zmdi-filter-list"></i>filters</button>
                                </div>
                                <div class="table-data__tool-right">
                                    <button class="au-btn au-btn-icon au-btn--green au-btn--small" type="submit">
                                        <i class="zmdi zmdi-plus"></i>Search</button>
                                    <div class="rs-select2--dark rs-select2--sm rs-select2--dark2">
                                        <select class="js-select2" name="type">
                                            <option selected="selected">Export</option>
                                            <option value="">Option 1</option>
                                            <option value="">Option 2</option>
                                        </select>
                                        <div class="dropDownSelect2"></div>
                                    </div>
                                </div>
                            </div>
                            </form>
                            <div class="table-responsive table-responsive-data2">
                                <table class="table table-data2">
                                    <thead>
                                        <tr>
                                            <th>
                                                <label class="au-checkbox">
                                                    <input type="checkbox">
                                                    <span class="au-checkmark"></span>
                                                </label>
                                            </th>
                                            <th>Reg No</th>
                                            <th>Name</th>
                                            <th>Date</th>
                                            <th>Period 1</th>
                                            <th>Time</th>
                                            <th>Period 2</th>
                                            <th>Time</th>
                                            <th>Period 3</th>
                                            <th>Time</th>
                                            <th>Period 4</th>
                                            <th>Time</th>
                                            <th>Period 5</th>
                                            <th>Time</th>
                                            <th>Period 6</th>
                                            <th>Time</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <div class="overflow-auto">
                                    <tbody>
                                        {% for row in data_reg %}
                                        <tr class="tr-shadow">
                                            <td>
                                                <label class="au-checkbox">
                                                    <input type="checkbox">
                                                    <span class="au-checkmark"></span>
                                                </label>
                                            </td>
                                            <td>{{row.student_id}}</td>
                                            <td>{{row.student_name}}</td>
                                            <td>{{row.att_date}}</td>
                                            <td>{{row.period_1_status}}</td>
                                            <td>{{row.period_1_time}}</td>
                                            <td>{{row.period_2_status}}</td>
                                            <td>{{row.period_2_time}}</td>
                                            <td>{{row.period_3_status}}</td>
                                            <td>{{row.period_3_time}}</td>
                                            <td>{{row.period_4_status}}</td>
                                            <td>{{row.period_4_time}}</td>
                                            <td>{{row.period_5_status}}</td>
                                            <td>{{row.period_5_time}}</td>
                                            <td>{{row.period_6_status}}</td>
                                            <td>{{row.period_6_time}}</td>
                                        </tr>
                                        <tr class="spacer"></tr>
                                        {% endfor %}
                                    </tbody>
                                  </div>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- END DATA TABLE-->

            <!-- COPYRIGHT-->
            <section class="p-t-60 p-b-20">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="copyright">
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- END COPYRIGHT-->
        </div>

    </div>

    <!-- Jquery JS-->
    <script src="{{ url_for('static',filename = 'dashboard/vendor/jquery-3.2.1.min.js')}}"></script>
    <!-- Bootstrap JS-->
    <script src="{{ url_for('static',filename = 'dashboard/vendor/bootstrap-4.1/popper.min.js')}}"></script>
    <script src="{{ url_for('static',filename = 'dashboard/vendor/bootstrap-4.1/bootstrap.min.js')}}"></script>
    <!-- Vendor JS       -->
    <script src="{{ url_for('static',filename = 'dashboard/vendor/slick/slick.min.js')}}">
    </script>
    <script src="{{ url_for('static',filename = 'dashboard/vendor/wow/wow.min.js')}}"></script>
    <script src="{{ url_for('static',filename = 'dashboard/vendor/animsition/animsition.min.js')}}"></script>
    <script src="{{ url_for('static',filename = 'dashboard/vendor/bootstrap-progressbar/bootstrap-progressbar.min.js')}}">
    </script>
    <script src="{{ url_for('static',filename = 'dashboard/vendor/counter-up/jquery.waypoints.min.js')}}"></script>
    <script src="{{ url_for('static',filename = 'dashboard/vendor/counter-up/jquery.counterup.min.js')}}">
    </script>
    <script src="{{ url_for('static',filename = 'dashboard/vendor/circle-progress/circle-progress.min.js')}}"></script>
    <script src="{{ url_for('static',filename = 'dashboard/vendor/perfect-scrollbar/perfect-scrollbar.js')}}"></script>
    <script src="{{ url_for('static',filename = 'dashboard/vendor/chartjs/Chart.bundle.min.js')}}"></script>
    <script src="{{ url_for('static',filename = 'dashboard/vendor/select2/select2.min.js')}}">
    </script>

    <!-- Main JS-->
    <script src="{{ url_for('static',filename = 'dashboard/js/main.js')}}"></script>

</body>

</html>
<!-- end document-->
