<!DOCTYPE html>
<html lang="en">
<head>
  <title>FAR - Face recognition Attendence Register</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->  
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename = 'stud_login/vendor/bootstrap/css/bootstrap.min.css')}}">
<!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename = 'stud_login/fonts/font-awesome-4.7.0/css/font-awesome.min.css')}}">
<!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename = 'stud_login/fonts/iconic/css/material-design-iconic-font.min.css')}}">
<!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename = 'stud_login/vendor/animate/animate.css')}}">
<!--===============================================================================================-->  
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename = 'stud_login/vendor/css-hamburgers/hamburgers.min.css')}}">
<!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename = 'stud_login/vendor/animsition/css/animsition.min.css')}}">
<!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename = 'stud_login/vendor/select2/select2.min.css')}}">
<!--===============================================================================================-->  
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename = 'stud_login/vendor/daterangepicker/daterangepicker.css')}}">
<!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename = 'stud_login/css/util.css')}}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename = 'stud_login/css/main.css')}}">
<!--===============================================================================================-->
</head>
<body>
  
  <div class="limiter">
    <div class="container-login100" style="background-image: url('{{ url_for('static',filename = 'stud_login/images/bg-01.jpg')}}');">
      <div class="wrap-login100 p-l-55 p-r-55 p-t-65 p-b-54">
        <form class="login100-form validate-form">
          <span class="login100-form-title p-b-49">
            Student Login
          </span>

          {% with messages  = get_flashed_messages() %}
          {% if messages %}
          {% for message in messages %}

            <div class="alert alert-success alert-dismissable" role="alert">
              <button type="button" class="close" data-dismiss="alert" aria-label="close">
                <span aria-hidden="true">x</span>
              </button> 
          {{message}}
          </div>
          {% endfor %}
          {% endif %}
          {% endwith %}

          <div class="wrap-input100 validate-input m-b-23" data-validate = "Register no is reauired">
            <span class="label-input100">Register Number</span>
            <input class="input100" type="text" name="student_id" placeholder="Type your Register no">
            <span class="focus-input100" data-symbol="&#xf206;"></span>
          </div>

          <div class="wrap-input100 validate-input" data-validate="Password is required">
            <span class="label-input100">Password</span>
            <input class="input100" type="password" name="student_pswd" placeholder="Type your password">
            <span class="focus-input100" data-symbol="&#xf190;"></span>
          </div>
          
          <div class="text-right p-t-8 p-b-31">
            <a href="#">
              Forgot password?
            </a>
          </div>
          
          <div class="container-login100-form-btn">
            <div class="wrap-login100-form-btn">
              <div class="login100-form-bgbtn"></div>
              <button class="login100-form-btn" type="submit" formmethod="POST" formaction="/student_login">
                Login
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  
<!--===============================================================================================-->
  <script src="{{ url_for('static',filename = 'stud_login/vendor/jquery/jquery-3.2.1.min.js')}}"></script>
<!--===============================================================================================-->
  <script src="{{ url_for('static',filename = 'stud_login/vendor/animsition/js/animsition.min.js')}}"></script>
<!--===============================================================================================-->
  <script src="{{ url_for('static',filename = 'stud_login/vendor/bootstrap/js/popper.js')}}"></script>
  <script src="{{ url_for('static',filename = 'stud_login/vendor/bootstrap/js/bootstrap.min.js')}}"></script>
<!--===============================================================================================-->
  <script src="{{ url_for('static',filename = 'stud_login/vendor/select2/select2.min.js')}}"></script>
<!--===============================================================================================-->
  <script src="{{ url_for('static',filename = 'stud_login/vendor/daterangepicker/moment.min.js')}}"></script>
  <script src="{{ url_for('static',filename = 'stud_login/vendor/daterangepicker/daterangepicker.js')}}"></script>
<!--===============================================================================================-->
  <script src="{{ url_for('static',filename = 'stud_login/vendor/countdowntime/countdowntime.js')}}"></script>
<!--===============================================================================================-->
  <script src="{{ url_for('static',filename = 'stud_login/js/main.js')}}"></script>

</body>
</html>